.interface-porta {

  pointer-events: auto;
  position: static;
}

.fundo-porta{

  padding-top: 250px;
  padding-left: 50px;

  background-color: black;
  width: 30vw;
  height: 85vh;

  border-top-left-radius: 45%;
  border-top-right-radius: 45%;

}
