*{

  box-sizing: border-box;
}

html, body, #root {

  height: 100%;
  width: 100%;
  overflow: hidden;

}

#canvas{

  width: 100vw;
  height: 100vh;
  background: linear-gradient(black, rgb(1, 1, 75));

}